In [20]:
import os
import csv
import pandas as pd
import re
from datetime import datetime
import numpy as np

In [21]:
#loading and reading the csv file
crimes_csv = "../toronto-crime-analysis/crimes_csv.csv"
crimes_pd = pd.read_csv(crimes_csv)
crimes_pd['occurrencedate'] = pd.to_datetime(crimes_pd['occurrencedate'], unit='ms')
crimes_pd['reporteddate'] = pd.to_datetime(crimes_pd['reporteddate'], unit='ms')
crimes_pd.head()

,Division,FID,Hood_ID,Index_,Lat,Long,MCI,Neighbourhood,event_unique_id,occurrencedate,...,premisetype,reporteddate,reportedday,reporteddayofweek,reporteddayofyear,reportedhour,reportedmonth,reportedyear,ucr_code,ucr_ext
0,D22,1,14,501,43.638527,-79.538010,Assault,Islington-City Centre West (14),GO-201524666,2013-05-13 04:40:00,...,Outside,2015-01-05 03:53:20,5,Monday,5,14,January,2015,1430,100
1,D52,2,77,502,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,2013-09-02 02:46:40,...,Commercial,2014-01-21 04:53:20,21,Tuesday,21,13,January,2014,1610,100
2,D52,3,77,503,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,2013-09-02 02:46:40,...,Commercial,2014-01-21 04:53:20,21,Tuesday,21,13,January,2014,1610,100
3,D51,4,73,504,43.651279,-79.368263,Break and Enter,Moss Park (73),GO-20141291615,2013-09-12 04:26:40,...,Apartment,2014-01-06 03:46:40,6,Monday,6,13,January,2014,2120,200
4,D31,5,22,505,43.741817,-79.530853,Break and Enter,Humbermede (22),GO-20141456404,2013-09-12 04:26:40,...,Commercial,2014-02-02 05:46:40,2,Sunday,33,17,February,2014,2120,200

In [22]:
#calculating the most common crimes in Toronto
most_common_crimes_count = crimes_pd.groupby('MCI').size()
most_common_crimes = most_common_crimes_count.to_frame().reset_index()
most_common_crimes = most_common_crimes.rename(columns= {0: 'Crime Count',
                                                         'MCI' : 'Crime Type'
                                                        })

most_common_crimes

        Crime Type  Crime Count
0          Assault         1270
1  Break and Enter          400
2          Robbery          185
3       Theft Over          145

In [23]:
#
highest_crime_rates_count = crimes_pd.groupby('Neighbourhood').size()
highest_crime_rates = highest_crime_rates_count.to_frame().reset_index()
highest_crime_rates = highest_crime_rates.rename(columns= {0: 'Crime Count'})
highest_crime_rates = highest_crime_rates.sort_values(by = ['Crime Count'], ascending = False)
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace('[0-9]', '')
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace('(', '')
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace(')', '')
highest_crime_rates.head()

                          Neighbourhood  Crime Count
122  Waterfront Communities-The Island            62
23               Church-Yonge Corridor            51
123                          West Hill            47
6                  Bay Street Corridor            42
132                             Woburn            42

In [24]:
crime_month_count = crimes_pd.groupby('occurrencemonth').size()
crime_month = crime_month_count.to_frame().reset_index()
crime_month = crime_month.rename(columns= {0: 'Crime Count',
                                           'occurrencemonth': 'Crime Month'
                                          })
crime_month = crime_month.sort_values(by = ['Crime Count'], ascending = False)
crime_month.head()

   Crime Month  Crime Count
4      January         1001
3     February          305
7        March          161
2     December          108
11   September           84

In [34]:
#crimes_pd['date'] = [d.date() for d in crimes_pd['occurrencedate']]
crimes_pd['time'] = [d.time() for d in crimes_pd['occurrencedate']]
crime_time_count = crimes_pd.groupby('time').size()
crime_time = crime_time_count.to_frame().reset_index()
crime_time = crime_time.rename(columns= {0: 'Crime Count',
                                           'time': 'Crime_Time'
                                          })
crime_time_sorted = crime_time.sort_values(by = ['Crime Count'], ascending=False)
crime_time['Crime_Time'] = crime_time.Crime_Time.astype(int)
crime_time.Crime_Time = crime_time.Crime_Time.str.replace(':', '')
#
bins = ['000000', '100000', '200000', '300000', '400000', '500000', '600000', '700000', '800000', '900000', '100000', '110000', '120000', '130000', '140000', '150000', '160000', '170000', '180000', '190000', '200000', '210000', '220000', '230000', '235959']
group_labels = ["Midnight to 1:00AM", "01:00AM to 02:00AM", "02:00AM to 03:00AM", "03:00AM to 04:00AM", "04:00AM to 05:00AM", "05:00AM to 06:00AM", "06:00AM to 07:00AM", "07:00AM to 08:00AM", "08:00AM to 09:00AM", "09:00AM to 10:00AM", "10:00AM to 11:00AM", "11:00AM to Noon", "Noon to 1:00PM", "1:00PM to 2:00PM", "2:00PM to 3:00PM", "3:00PM to 4:00PM", "4:00PM to 5:00PM", "5:00PM to 6:00PM", "6:00PM to 7:00PM", "7:00PM to 8:00PM", "8:00PM to 9:00PM", "9:00PM to 10:00PM", "10:00PM to 11:00PM", "11:00PM to Midnight"]
pd.cut(crime_time['Crime_Time'], bins, labels = group_labels).head()
#crime_time.head()

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U6') dtype('<U6') dtype('<U6')