In [145]:
import os
import csv
import pandas as pd
import re
from datetime import datetime

In [146]:
#loading and reading the csv file
crimes_csv = "../toronto-crime-analysis/crimes_csv.csv"
crimes_pd = pd.read_csv(crimes_csv)
crimes_pd.head()

,Division,FID,Hood_ID,Index_,Lat,Long,MCI,Neighbourhood,event_unique_id,occurrencedate,...,premisetype,reporteddate,reportedday,reporteddayofweek,reporteddayofyear,reportedhour,reportedmonth,reportedyear,ucr_code,ucr_ext
0,D22,1,14,501,43.638527,-79.538010,Assault,Islington-City Centre West (14),GO-201524666,1.368420e+12,...,Outside,1.420430e+12,5,Monday,5,14,January,2015,1430,100
1,D52,2,77,502,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,1.378090e+12,...,Commercial,1.390280e+12,21,Tuesday,21,13,January,2014,1610,100
2,D52,3,77,503,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,1.378090e+12,...,Commercial,1.390280e+12,21,Tuesday,21,13,January,2014,1610,100
3,D51,4,73,504,43.651279,-79.368263,Break and Enter,Moss Park (73),GO-20141291615,1.378960e+12,...,Apartment,1.388980e+12,6,Monday,6,13,January,2014,2120,200
4,D31,5,22,505,43.741817,-79.530853,Break and Enter,Humbermede (22),GO-20141456404,1.378960e+12,...,Commercial,1.391320e+12,2,Sunday,33,17,February,2014,2120,200

In [147]:
#calculating the most common crimes in Toronto
most_common_crimes_count = crimes_pd.groupby('MCI').size()
most_common_crimes = most_common_crimes_count.to_frame().reset_index()
most_common_crimes = most_common_crimes.rename(columns= {0: 'Crime Count',
                                                         'MCI' : 'Crime Type'
                                                        })

most_common_crimes

        Crime Type  Crime Count
0          Assault         1270
1  Break and Enter          400
2          Robbery          185
3       Theft Over          145

In [148]:
#
highest_crime_rates_count = crimes_pd.groupby('Neighbourhood').size()
highest_crime_rates = highest_crime_rates_count.to_frame().reset_index()
highest_crime_rates = highest_crime_rates.rename(columns= {0: 'Crime Count'})
highest_crime_rates = highest_crime_rates.sort_values(by = ['Crime Count'], ascending = False)
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace('[0-9]', '')
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace('(', '')
highest_crime_rates.Neighbourhood = highest_crime_rates.Neighbourhood.str.replace(')', '')
highest_crime_rates.head()

                          Neighbourhood  Crime Count
122  Waterfront Communities-The Island            62
23               Church-Yonge Corridor            51
123                          West Hill            47
6                  Bay Street Corridor            42
132                             Woburn            42