In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import requests
import json
from pprint import pprint

In [2]:
plotly.tools.set_credentials_file(username='wangdian', api_key='DKvDkKjnNZWzlT6zhaCq')
mapbox_access_token = 'pk.eyJ1Ijoid2FuZ2RpYW5kaWFuIiwiYSI6ImNqb3JyeWV4czAyeWwzcW85enRyZmp5dm8ifQ.UIVacLewjXi3XRL2XvlsgA'

In [3]:
# map plot location
path = 'data/MCI_2014_to_2017.csv'

df = pd.read_csv(path)
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,FID
0,-79.520401,43.768829,14601,GO-20142775022,2014-08-25T04:00:00.000Z,2014-08-25T04:00:00.000Z,Outside,1430,100,Assault,...,237.0,Monday,18,Assault,D31,24,Black Creek (24),43.768829,-79.520401,14001
1,-79.580856,43.642574,14602,GO-20142870874,2014-08-25T04:00:00.000Z,2014-09-08T04:00:00.000Z,House,2120,220,B&E W'Intent,...,237.0,Monday,9,Break and Enter,D22,11,Eringate-Centennial-West Deane (11),43.642574,-79.580856,14002
2,-79.260445,43.762909,14603,GO-20142802386,2014-08-25T04:00:00.000Z,2014-08-29T04:00:00.000Z,House,1430,100,Assault,...,237.0,Monday,11,Assault,D41,127,Bendale (127),43.762909,-79.260445,14003
3,-79.367546,43.663208,14604,GO-20142777955,2014-08-25T04:00:00.000Z,2014-08-26T04:00:00.000Z,Commercial,2120,200,B&E,...,237.0,Monday,17,Break and Enter,D51,71,Cabbagetown-South St.James Town (71),43.663208,-79.367546,14004
4,-79.231758,43.776440,14605,GO-20142778699,2014-08-25T04:00:00.000Z,2014-08-26T04:00:00.000Z,Other,2120,200,B&E,...,237.0,Monday,16,Break and Enter,D43,137,Woburn (137),43.776440,-79.231758,14005

In [4]:
df = df.sort_values(by=['Hood_ID'])
x = df.loc[df['Hood_ID'] == 1]['X'].mean()

In [5]:
map_id_dict = {
    'hood_id': df['Hood_ID'].unique(),
    'lon': df.groupby('Hood_ID')['X'].mean(),
    'lan': df.groupby('Hood_ID')['Y'].mean(),
    'neighbourhood': df.groupby('Hood_ID')['Neighbourhood'].unique()
}

map_id_df = pd.DataFrame(map_id_dict, index=map_id_dict['hood_id'])
map_id_df.head()

   hood_id        lan        lon                            neighbourhood
1        1  43.719981 -79.598015             [West Humber-Clairville (1)]
2        2  43.745059 -79.588351  [Mount Olive-Silverstone-Jamestown (2)]
3        3  43.738668 -79.568820       [Thistletown-Beaumond Heights (3)]
4        4  43.720970 -79.566224                    [Rexdale-Kipling (4)]
5        5  43.720902 -79.551941                   [Elms-Old Rexdale (5)]

In [6]:
# total crime
path = 'data/crime_totals_per_hood.csv'

crime_total_df = pd.read_csv(path, header=None)
crime_total_df.columns = ['hood_id', 'total_crime']
crime_total_df.head()

   hood_id  total_crime
0        1         3264
1        2         1806
2        3          475
3        4          509
4        5          444

In [7]:
crime_total_df = crime_total_df.merge(map_id_df, on='hood_id', how='outer' )
crime_total_df.head()

,hood_id,total_crime,lan,lon,neighbourhood
0,1,3264,43.719981,-79.598015,[West Humber-Clairville (1)]
1,2,1806,43.745059,-79.588351,[Mount Olive-Silverstone-Jamestown (2)]
2,3,475,43.738668,-79.568820,[Thistletown-Beaumond Heights (3)]
3,4,509,43.720970,-79.566224,[Rexdale-Kipling (4)]
4,5,444,43.720902,-79.551941,[Elms-Old Rexdale (5)]

In [8]:
crime_total_map_plot = []
for index, row in crime_total_df.iterrows():
    
    data = go.Scattermapbox(
            lat=[str(row['lan'])],
            lon=[str(row['lon'])],
            mode='markers',
            marker=dict(
                size=0.02 * row['total_crime'],
                opacity= 0.7,
                color = 'rgb(17, 157, 255)'
            ),
            
            name=row['neighbourhood'][0],
            text=row['neighbourhood'][0] # pending disctrict name
        )
    
    crime_total_map_plot.append(data)
    
layout = go.Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=43.7,
            lon=-79.5
        ),
        pitch=0,
        zoom=10
    ),
)

fig = dict(data=crime_total_map_plot, layout=layout)

py.iplot(fig, filename='Toronto Crime')

In [9]:
crime_total_df['total_crime'].max()

4685

In [10]:
crime_total_df['total_crime'].min()

146

In [60]:
bins = [0, 1000, 2000, 3000, 4000, 5000]
bin_label = ['safe <1000', 'low 1000-2000', 'average 2000-3000', 'high 3000-4000', 'danger >4000' ]
bin_color = ['green', 'blue', 'gold', 'orange', 'pink']
#add label to crime_total_df
crime_total_df['label'] = pd.cut(crime_total_df['total_crime'], bins, labels=bin_label)
crime_total_df['color'] = pd.cut(crime_total_df['total_crime'], bins, labels=bin_color)

In [61]:
crime_total_df.head()

,hood_id,total_crime,lan,lon,neighbourhood,label,color
0,1,3264,43.719981,-79.598015,[West Humber-Clairville (1)],high 3000-4000,orange
1,2,1806,43.745059,-79.588351,[Mount Olive-Silverstone-Jamestown (2)],low 1000-2000,blue
2,3,475,43.738668,-79.568820,[Thistletown-Beaumond Heights (3)],safe <1000,green
3,4,509,43.720970,-79.566224,[Rexdale-Kipling (4)],safe <1000,green
4,5,444,43.720902,-79.551941,[Elms-Old Rexdale (5)],safe <1000,green

In [72]:
df = crime_total_df.loc[crime_total_df['color'] == 'pink']
df

,hood_id,total_crime,lan,lon,neighbourhood,label,color
74,75,4685,43.658719,-79.380407,[Church-Yonge Corridor (75)],danger >4000,pink
76,77,4328,43.644643,-79.388908,[Waterfront Communities-The Island (77)],danger >4000,pink

In [78]:
df['label'].iloc[0]

'danger >4000'

In [79]:
#creat data list
crime_data_list = []

for color in bin_color:
    df = crime_total_df.loc[crime_total_df['color'] == color]
    
    lon_list = []
    lat_list = []
    crime_list = []
    neighbour_list = []
    for index, row in df.iterrows():
        lon_list.append(row['lon'])
        lat_list.append(row['lan'])
        crime_list.append(row['total_crime'] / 77)
        neighbour_list.append(row['neighbourhood'][0])
        
        
    data = go.Scattermapbox(
        lon = lon_list,
        lat = lat_list,
        #text = df_sub['neighbourhood'][0],
        marker = dict(
            size = crime_list,
            # sizeref = 2. * max(df_sub['pop']/scale) / (25 ** 2),
            color = color,
            opacity = 0.7
        ),
        name=df['label'].iloc[0],
        text=neighbour_list
    )
    crime_data_list.append(data)

crime_data_list[0]

Scattermapbox({
    'lat': [43.73866841066956, 43.72097002490198, 43.72090165470848,
            43.696529879487294, 43.68181599471874, 43.690981623333414,
            43.66927492774869, 43.66744382483218, 43.65610530192642,
            43.63334217446808, 43.6441560550135, 43.65129019620589,
            43.632507549801325, 43.6003281441998, 43.592971617045485,
            43.60531714712328, 43.74421875744953, 43.71704761005813,
            43.70966525664337, 43.71279853462597, 43.69941508320616,
            43.72143037450143, 43.73939031506846, 43.76145981952299,
            43.781682932729936, 43.785116903836624, 43.77119463875603,
            43.75078041639997, 43.72712344086863, 43.75428904944906,
            43.73052051176475, 43.7341916360809, 43.724862848319326,
            43.71527563867778, 43.78613933927491, 43.79899161854686,
            43.79621059476753, 43.78792814298524, 43.7724466412577,
            43.77207402473407, 43.70571030826022, 43.7061711682566,
            43.707309066580315, 43.68790589274193, 43.692840207096864,
            43.68850715085234, 43.693296126724135, 43.69478323712571,
            43.670240456911756, 43.67469888074652, 43.67156172231886,
            43.682129112486294, 43.678126172504335, 43.67051262352944,
            43.674541384593034, 43.66482832217198, 43.65926740522765,
            43.657105005511774, 43.647616752828334, 43.6543135549328,
            43.646822144262345, 43.6425508664166, 43.655666085766285,
            43.658161665127004, 43.667530889577904, 43.672870979636286,
            43.67734688838305, 43.678589688271664, 43.68153296997163,
            43.68915566010361, 43.707620308580836, 43.70509383501946,
            43.69225588901102, 43.70256410731125, 43.715771130104706,
            43.70524960195227, 43.728953916528916, 43.688469540000014,
            43.68972622283469, 43.697806443944614, 43.68855706259257,
            43.684496358311954, 43.67510394788728, 43.69255916570836,
            43.660100041610775, 43.68811923254849, 43.81344308806507,
            43.77933027010175, 43.720850480076756, 43.73300844941186,
            43.806968225925885, 43.781981046124, 43.789478924519905,
            43.7802823614951, 43.74185569031274, 43.749068489719605],
    'lon': [-79.56882007447705, -79.5662243899999, -79.5519406800448,
            -79.5515666037905, -79.55681741171078, -79.52117609952376,
            -79.52212502696335, -79.54754407516766, -79.5768821591946,
            -79.5736979400001, -79.56761929105687, -79.51035367696471,
            -79.50061731682116, -79.5100007449339, -79.53307807454541,
            -79.54209846054806, -79.54286932241592, -79.52927641102521,
            -79.502280288287, -79.48054612216059, -79.490079007023,
            -79.43870524886032, -79.44613274297927, -79.45588630938859,
            -79.45052571689317, -79.43402265594032, -79.42629481196164,
            -79.4257864077999, -79.42417691291763, -79.38175979090902,
            -79.3848774006192, -79.34463905972979, -79.30910606743683,
            -79.3320422833545, -79.33502333142, -79.35833555143411,
            -79.3831437171512, -79.41303623363216, -79.37579233573636,
            -79.34141736914891, -79.30307723566976, -79.34788803914516,
            -79.36984938367883, -79.35388539879027, -79.34097369957001,
            -79.33403221704543, -79.3135585971264, -79.29660175733524,
            -79.30049263970578, -79.31644715206288, -79.32485243405807,
            -79.33236293213923, -79.35469167390552, -79.35032546329404,
            -79.34009302005815, -79.37035270362031, -79.36186657345853,
            -79.41796757228326, -79.41525263686889, -79.43659061524644,
            -79.42872571129335, -79.46661748911832, -79.46494052566884,
            -79.48687172378757, -79.47106192955135, -79.45945787018171,
            -79.44516899152272, -79.42684485534988, -79.41296121161473,
            -79.398999626943, -79.3874321386138, -79.4039391264592,
            -79.41597674981683, -79.42917618537739, -79.40838389973817,
            -79.39576721540125, -79.40492570716262, -79.42609260271175,
            -79.44169581480311, -79.4489161430218, -79.45499905222222,
            -79.47061180920717, -79.4896222108652, -79.4754992437374,
            -79.49831169328856, -79.49697888282539, -79.32217123544291,
            -79.3036803582698, -79.23822982860791, -79.27314448911724,
            -79.2730771136244, -79.1498502999999, -79.17918771861154,
            -79.2056643631875, -79.22005163229049, -79.19949451464169],
    'marker': {'color': 'green',
               'opacity': 0.7,
               'size': [6.1688311688311686, 6.6103896103896105, 5.766233766233766,
                        11.558441558441558, 11.272727272727273, 5.441558441558442,
                        4.9480519480519485, 3.857142857142857, 7.376623376623376,
                        3.038961038961039, 4.792207792207792, 4.779220779220779,
                        9.74025974025974, 8.818181818181818, 5.714285714285714,
                        4.740259740259741, 9.545454545454545, 6.623376623376624,
                        7.402597402597403, 4.636363636363637, 8.454545454545455,
                        9.077922077922079, 7.4935064935064934, 8.7012987012987,
                        8.558441558441558, 10.376623376623376, 5.402597402597403,
                        6.467532467532467, 11.558441558441558, 9.35064935064935,
                        4.1688311688311686, 9.545454545454545, 6.12987012987013,
                        10.584415584415584, 4.233766233766234, 6.779220779220779,
                        4.454545454545454, 12.974025974025974, 8.376623376623376,
                        4.87012987012987, 10.194805194805195, 7.766233766233766,
                        4.961038961038961, 3.220779220779221, 5.974025974025974,
                        4.558441558441558, 4.428571428571429, 8.571428571428571,
                        8.779220779220779, 6.48051948051948, 8.948051948051948,
                        11.935064935064934, 7.3896103896103895, 5.48051948051948,
                        4.467532467532467, 11.38961038961039, 9.623376623376624,
                        8.194805194805195, 12.74025974025974, 5.779220779220779,
                        7.0519480519480515, 6.8311688311688314, 10.636363636363637,
                        5.584415584415584, 9.818181818181818, 7.077922077922078,
                        8.194805194805195, 6.298701298701299, 4.558441558441558,
                        2.5064935064935066, 3.935064935064935, 3.311688311688312,
                        3.5194805194805197, 5.454545454545454, 4.9480519480519485,
                        11.818181818181818, 4.688311688311688, 3.8181818181818183,
                        8.207792207792208, 11.181818181818182, 3.4545454545454546,
                        5.064935064935065, 12.87012987012987, 6.298701298701299,
                        1.896103896103896, 9.376623376623376, 7.142857142857143,
                        10.116883116883116, 10.103896103896103, 8.688311688311689,
                        9.766233766233766, 3.324675324675325, 8.662337662337663,
                        9.12987012987013, 12.727272727272727, 4.142857142857143]},
    'name': 'safe <1000',
    'text': [Thistletown-Beaumond Heights (3), Rexdale-Kipling (4), Elms-Old
             Rexdale (5), Kingsview Village-The Westway (6), Willowridge-
             Martingrove-Richview (7), Humber Heights-Westmount (8), Edenbridge-
             Humber Valley (9), Princess-Rosethorn (10), Eringate-Centennial-West
             Deane (11), Markland Wood (12), Etobicoke West Mall (13), Kingsway
             South (15), Stonegate-Queensway (16), New Toronto (18), Long Branch
             (19), Alderwood (20), Humbermede (22), Pelmo Park-Humberlea (23),
             Rustic (28), Maple Leaf (29), Brookhaven-Amesbury (30), Englemount-
             Lawrence (32), Clanton Park (33), Bathurst Manor (34), Westminster-
             Branson (35), Newtonbrook West (36), Willowdale West (37), Lansing-
             Westgate (38), Bedford Park-Nortown (39), St.Andrew-Windfields (40),
             Bridle Path-Sunnybrook-York Mills (41), Banbury-Don Mills (42),
             Victoria Village (43), Flemingdon Park (44), Pleasant View (46),
             Hillcrest Village (48), Bayview Woods-Steeles (49), Newtonbrook East
             (50), Bayview Village (52), Henry Farm (53), O'Connor-Parkview (54),
             Thorncliffe Park (55), Leaside-Bennington (56), Broadview North (57),
             Old East York (58), Danforth East York (59), Woodbine-Lumsden (60),
             Taylor-Massey (61), The Beaches (63), Woodbine Corridor (64),
             Greenwood-Coxwell (65), Danforth (66), Playter Estates-Danforth (67),
             North Riverdale (68), Blake-Jones (69), Cabbagetown-South St.James
             Town (71), Regent Park (72), Palmerston-Little Italy (80), Trinity-
             Bellwoods (81), Dufferin Grove (83), Little Portugal (84), High Park-
             Swansea (87), High Park North (88), Runnymede-Bloor West Village (89),
             Junction Area (90), Weston-Pellam Park (91), Corso Italia-Davenport
             (92), Wychwood (94), Casa Loma (96), Yonge-St.Clair (97), Mount
             Pleasant East (99), Yonge-Eglinton (100), Forest Hill South (101),
             Forest Hill North (102), Lawrence Park South (103), Mount Pleasant
             West (104), Lawrence Park North (105), Humewood-Cedarvale (106),
             Oakwood Village (107), Briar Hill-Belgravia (108), Caledonia-Fairbank
             (109), Keelesdale-Eglinton West (110), Rockcliffe-Smythe (111),
             Beechborough-Greenbrook (112), Lambton Baby Point (114), Mount Dennis
             (115), Steeles (116), Tam O'Shanter-Sullivan (118), Cliffcrest (123),
             Ionview (125), Agincourt North (129), Centennial Scarborough (133),
             Highland Creek (134), Morningside (135), Scarborough Village (139),
             Guildwood (140)]
})

In [83]:
acc_layout = go.Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=43.7,
            lon=-79.5
        ),
        pitch=0,
        zoom=10,
        style='light'
    ),
)
    
fig = dict(data=crime_data_list, layout=acc_layout)

py.iplot(fig, filename='Toronto Accnum')